<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/css/account.css">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="/static/font/font.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">


    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/show_hide_pass.js"></script>
    <!-- <script src="js/onchangepassword.js"> </script> -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
</head>
    <body>
        <div class="main-w3layouts wrapper">
            <h1> Change Password</h1>
            <div class="main-agileinfo">
                <div class="agileits-top">
                    <div >
                    <form action="/verify/Password/FORGOTPASSWORD/<%=uniqueString%>" method="POST">
                         <div style="color: rgb(235, 108, 108);" > 
                        <% if (check) { %>
                        <%=errors%>
                        <%}%>
                    </div>
                        <div class="form-group pass_show" id="password">
                        <input class="text control " type="password" id="pass"  name="password" placeholder="Password" required="">
                        </div> 
                  
                        <div class="form-group pass_show">
                            <input class="text w3lpass" type="password" id="confpass" name="confirm" placeholder="Confirm Password" required="">
                                </div>

                        <input type="submit" value="FORGOT PASSWORD" onclick="onChange()">
                    
                    </form>
                    <div class="alert alert-warning password-alert" id="password-alert" role="alert">
                        <ul>
                          <li class="requirements leng"><i class="fas fa-check green-text" ></i><i class="fas fa-times red-text"></i> A password must be 8 between  and 13 characters.</li>
                          <li class="requirements Consecutive"><i class="fas fa-check green-text" ></i><i class="fas fa-times red-text"></i> The password does not contain consecutive numbers.</li>
                          <li class="requirements big-letter"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 big letter.</li>
                          <li class="requirements small-letter"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 small letter.</li>
                          <li class="requirements num"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 number.</li>
                          <li class="requirements special-char"><i class="fas fa-check green-text"></i><i class="fas fa-times red-text"></i> Your password must have at least 1 special char.</li>
                        </ul>
                      </div>
                      <div class="alert alert-warning confpassword-alert" role="alert">
                        <ul>
                          <li class="confrequirements match"><i class="fas fa-check green-text" ></i><i class="fas fa-times red-text"></i> Passwords do not match'.</li>
                        </ul>
                      </div>
                    </div>
                 
  

                      
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br> 
            <br>  
            <br>             
            <ul class="colorlib-bubbles" >
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <script src="/js/onchangepassword.js"> </script>

    </body>
    </html>




