<header class="ht-header">

	<div class="container"> 
		<nav class="navbar navbar-default navbar-custom">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header logo">
				    <div class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					    <span class="sr-only">Toggle navigation</span>
					    <div id="nav-icon1">
							<span></span>
							<span></span>
							<span></span>
						</div>
				    </div>
				    <a href="/Homes"><img class="logo" src="images/ico.png" alt="" width="119" height="58"></a>
			    </div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse flex-parent" id="bs-example-navbar-collapse-1">
					
					<ul class="nav navbar-nav flex-child-menu menu-left">
						<li class="hidden">
							<a href="#page-top"></a>
						</li>

						<li class="dropdown first">
							<a href="/Homes" class="btn btn-default dropdown-toggle lv1">
							Home
							</a>
						</li>

						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
                                Watch<i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li class="dropdown">
									<a href="#" class="dropdown-toggle" data-toggle="dropdown" >Movie</a>
								</li>			
								<li><a href="#">Series</a></li>
							</ul>
						</li>


						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							celebrities <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="#">celebrity grid</a></li>
								<li><a href="#">Celebrity News</a></li>
								<li class="it-last"><a href="#">most popular celebs</a></li>
							</ul>
						</li>

						<!-- <li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							My List <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="#">movies List</a></li>
								<li><a href="#">Series List</a></li>
								<li><a href="#">Watch list</a></li>
							</ul>
						</li> -->


						<li class="dropdown first">
							<a class="btn btn-default dropdown-toggle lv1" data-toggle="dropdown" data-hover="dropdown">
							Events <i class="fa fa-angle-down" aria-hidden="true"></i>
							</a>
							<ul class="dropdown-menu level1">
								<li><a href="userfavoritegrid.html">Oscars</a></li>
								<li><a href="userfavoritelist.html">GOLDEN GLOBES</a></li>
								<li><a href="userfavoritelist.html">News</a></li>
							</ul>
						</li>



                    
						
					</ul>

					
					<ul class="nav navbar-nav flex-child-menu menu-right" >
                                     
						<li><a href="/LogIn" >LOG In</a></li>
						<li class="btn"><a href="/SignUp">sign up</a></li>
					</ul>

					
				 </div>
			<!-- /.navbar-collapse -->
	    </nav>
	    
	    <!-- top search form -->
	    <div class="top-search">
	    	<select>
				<option value="united">TV show</option>
				<option value="saab">Movies</option>
				<option value="saab">celebrity</option>
			</select>
           
			<input type="text" placeholder="Search for a movie, TV Show or celebrity that you are looking for">
	    </div>

	</div>

</header>